{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
<div class="wrapper">
    <h1><a href="{% url "post_home" %}">POSTS</a></h1>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <form class="logout-link" action="/accounts/logout/" method="post">
            {% csrf_token %}
        
<button type="submit">Logout</button>        </form>  
        </li>
        <li><a href="{% url "post_create" %}">Add New</a></li>

        {% else %}
        <li><a href="{% url "login_page" %}">Login</a></li>
        <li><a href="{% url "signup_page" %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
</div>
  </body>
</html>
